<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Amiri|Arvo" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="./assets/css/custom.css" >
    <script src="./lib/carousel.js"></script>
    <script src="./lib/leftNavBar.js"></script>
    <script src="./lib/modalLoginMessage.js"></script>
    <script src="./lib/footer.js"></script>
    <script src="./lib/modalLoginForm.js"></script>
    <script src="./lib/listCategory.js"></script>
    <base href="/">
    <title>E-Belanja</title>
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-sm bg-light navBarCustom">
            <!-- Links -->
            <left-nav-bar></left-nav-bar>
            
            <div class="fontIconMargin">
                    <div v-if= "nameLengkap !== '' ">
                        <div>
                            <a data-toggle="modal" data-target="#cartModal">
                                    <i class="fas fa-shopping-cart">Your Cart</i>
                            </a>
                            <button data-toggle="modal" v-on:click="logoutFromSite()" >LOGOUT</button>
                        </div>
                    </div>
                    <div v-else>
                        <button data-toggle="modal" data-target="#loginUser" id="login">LOGIN</button>
                    </div>
            </div>
        </nav> 
        <div class="container-fluid">
            <div class="row">
                <list-categories @result-info="getInfo"></list-categories>
                
                <div class="col-md-9">
                    <div class="marginTop">
                        <carousel-e-belanja></carousel-e-belanja>  
                        <div>    
                            <!--set a space between carousel and list item -->                                                  
                            <div class="marginBottom"></div>
                            <div v-if="info.length >0 ">
                                <div v-if="error.length > 0">
                                    {{ error }}
                                </div>
                                <div v-for="data in info">
                                    <div class="row">
                                        <div class ="col-md-3">
                                            <div class="itemBox">
                                                <div class="card" style="width: 18rem;">
                                                    <img class="card-img-top img-fluid" src="./assets/image/asian_casual_fashion03.jpg" alt="Card image cap">
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{ data.name }}</h5>
                                                        <p class="card-text">Price : {{ data.price }}</p>
                                                        
                                                        <div v-if=" nameLengkap === '' ">
                                                            <a data-toggle="modal" data-target="#loginMessage" class="btn btn-primary"><font color="white">Order Now</font></a>    
                                                        </div>
                                                        <div v-else> 
                                                            <a v-on:click="getIndividualOrder(data.name,data.price)" class="btn btn-primary"><font color="white">Order Now</font></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- set a white space between item display-->
                                        <div class="col-md-1">
                                        </div>
                                        <div class ="col-md-3">
                                            <div class="itemBox">
                                                <div class="card" style="width: 18rem;">
                                                    <img class="card-img-top img-fluid" src="./assets/image/japan-casual-02.jpg" alt="Card image cap">
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{ data.name }}</h5>
                                                        <p class="card-text">Price : {{ data.price }}</p>
                                                        
                                                        <div v-if=" nameLengkap === '' ">
                                                            <a data-toggle="modal" data-target="#loginMessage" class="btn btn-primary"><font color="white">Order Now</font></a>    
                                                        </div>
                                                        <div v-else> 
                                                            <a v-on:click="getIndividualOrder(data.name,data.price)" class="btn btn-primary"><font color="white">Order Now</font></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- set a white space between item display-->
                                        <div class="col-md-1">
                                        </div>
                                        <div class ="col-md-3">
                                            <div class="itemBox">
                                                <div class="card" style="width: 18rem;">
                                                    <img height ="430" class="card-img-top" src="./assets/image/japan-casual01.jpg" alt="Card image cap">
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{ data.name }}</h5>
                                                        <p class="card-text">Price : {{ data.price }}</p>

                                                        <div v-if=" nameLengkap === '' ">
                                                            <a data-toggle="modal" data-target="#loginMessage" class="btn btn-primary"><font color="white">Order Now</font></a>    
                                                        </div>
                                                        <div v-else> 
                                                            <a v-on:click="getIndividualOrder(data.name,data.price)" class="btn btn-primary"><font color="white">Order Now</font></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div>
                                            <div class="col-md-12">
                                                <img height="40px" width="100%" src="./assets/image/whiteBox.jpg">
                                            </div>
                                        </div>
                                    </div>        
                                </div>  
                            </div>   
                            <div v-else>
                                Items Sold Out
                                <div class="row">
                                    <div>
                                        <div class="col-md-12">
                                            <img height="50px" width="100%" src="./assets/image/whiteBox.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <div class="col-md-12">
                                        <img height="30px" width="100%" src="./assets/image/whiteBox.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>  
            
            
            <!-- The Modal -->
            <!-- Modal Cart-->
            <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Your cart</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>Hi {{ nameLengkap }} berikut rincian belanjaan kamu: </h5>
                            <div v-for="buyitem in detailTempTransaction" >
                                <div>
                                    {{ buyitem.item }} : Price {{ buyitem.price }} IDR
                                </div>
                            </div>
                            <hr/>
                            <h5>Total: {{ totalTempTransaction }}</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button v-on:click="createTransaction()" type="button" class="btn btn-primary"><font color="white">Buy Now</font></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal login -->
            <modal-login-form @result-user-id="getUserId" @result-name-lengkap="getNameLengkap" @result-token="getToken"></modal-login-form>

            <!-- Modal Login Message-->
            <modal-login-message></modal-login-message>
     
        <footer-div></footer-div>        
    </div>
    <script>
        // get all data
        var app = new Vue({
            el: '#app',
            data : {
                    info: [],
                    userId : '',
                    nameLengkap : '',
                    email : '',
                    password : '',
                    transactionsList : [],
                    token : '',//localStorage.getItem('token'),
                    detailTempTransaction :[],
                    totalTempTransaction : 0,
                    error : '',
            },
            methods :{
                // getter method from child login activity
                getToken : function (input){
                    this.token = input;
                },
                getUserId : function(input){
                    this.userId = input;
                },    
                getNameLengkap : function(input){
                    this.nameLengkap = input;
                },
                getInfo : function(input){
                    this.info = input
                },
                logoutFromSite(){
                    // empty all credentials
                    localStorage.setItem('token','');
                    this.token = '';
                    this.userId = '';
                    this.nameLengkap = '';

                    // empty all related transactions data
                    this.detailTempTransaction = [];
                    this.totalTempTransaction = 0;
                },
                getIndividualOrder(item,price){

                    if(this.token !== ''){
                        let obj = {}
                        obj['item'] = item;
                        obj['price'] = Number(price);

                        // add app to total sum
                        this.totalTempTransaction = this.totalTempTransaction + Number(price);
                        this.detailTempTransaction.push(obj)
                    }else{
                        // set detail transaction to be always empty when there's no token
                        this.detailTempTransaction = [];
                    }
                },
                createTransaction(){
                    let self = this;

                    axios({
                        method : 'POST',
                        url : 'http://localhost:3000/transactions/add',
                        headers : {
                            token : self.token
                        },
                        data :{
                            itemId : self.detailTempTransaction
                        }
                    })
                    .then( transaction =>{
                        // if the transaction is successful and user still login
                        // empty all previous transactions data
                            this.detailTempTransaction = [];
                            this.totalTempTransaction = 0;

                            // close transaction modal
                            $('#cartModal').modal('hide');
                    })
                    .catch( error =>{
                        self.error = error    
                    })
                }
            }
        })
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>